@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
    font-family: "Passion One", sans-serif;
}

.filter{
    box-shadow: 0px 10px 20px 2px rgb(236, 236, 236); 
}
.filter input{

    border: none; /* Remove default border */
    border-bottom: 2px solid #dadada;
}

.customBorder{
  
    border: none; /* Remove default border */
    border-bottom: 2px solid #dadada;  
}



p {
	text-transform: uppercase;
	letter-spacing: .5em;
	display: inline-block;
	border: 4px double rgba(255,255,255,.25);
	border-width: 4px 0;
	padding: 1.5em 1em;


	width: 40em;
	
  
  span {

  	font: 700 4em/1 "Oswald", sans-serif;
  	letter-spacing: 0;
  	padding: .25em 0 .325em;
	  display: block;
	  margin: 0 auto;
  	text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */

	  background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
	  -webkit-background-clip: text;
	  background-clip: text;

/* Animate Background Image */

	  -webkit-text-fill-color: transparent;
	  -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

	  -webkit-transform: translate3d(0,0,0);
	  -webkit-backface-visibility: hidden;

  }
}

/* Animate Background Image */

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}


#spinner {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 11;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	border-top: 5px solid #3A244A;
	animation: spin 1s linear infinite; 
  }
  
  @keyframes spin {
	100% {
	  transform: rotate(360deg);
	}
  }
  